<div class="main" [title]="instrument.title">
  <div class="thumbnail" (click)="toggle()" [class.disabled]="!instrument.enabled" [style.background-image]="'url(assets/instruments/'+instrument.id+'.svg)'">
  </div>
  <div class="tools">
    <button mat-icon-button (click)="showSettings = !showSettings; showVolume = false">
    <mat-icon [class.active]="showSettings">settings</mat-icon>
  </button>
    <button mat-icon-button (click)="showVolume = !showVolume; showSettings = false">
    <mat-icon [class.active]="showVolume">volume_up</mat-icon>
  </button>
  </div>
</div>
<div class="bottom instrument-label" *ngIf="showTitle">
  {{instrument.title}}
</div>
<mat-slider [(ngModel)]="instrument.volume" min="0" max="1.0" step="0.1" *ngIf="showVolume"></mat-slider>
<mat-select [ngModel]="instrument.activeProgram + 1" (change)="instrument.activeProgram = $event.value-1" *ngIf="showSettings">
  <mat-option *ngFor="let p of instrument.programs; let i = index" [value]="i + 1">
    {{p.title}}
  </mat-option>
</mat-select>
<!-- filter is used by CSS to draw disabled instruments -->
<svg height="0" width="0">
  <filter id="gray-overlay">
    <feFlood id="gray-overlay-flood" flood-color="rgb(104,104,104)" />
    <feComposite in2="SourceAlpha" operator="in" k1="-8.8" />
  </filter>
</svg>
