:host {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 112px;
}

.thumbnail {
  cursor: pointer;
  background: no-repeat 50% 50%;
  background-size: contain;
  width: 96px;
  height: 88px;
  margin-bottom: 8px;
}

.thumbnail.disabled {
  filter: url(#gray-overlay);
}

.main {
  display: flex;
  position: relative;
}

.bottom {
  font-size: 18px;
  height: 40px;
  width: 64px;
}

mat-slider {
  min-height: 0;
}

.tools {
  background: rgba(255, 255, 255, 0.5);
  bottom: 0;
}

.tools mat-icon.active {
  color: blue;
}

.instrument-label,
.tools {
  opacity: 0;
  transition: opacity ease 0.3s;
  text-align: center;
}

:host:hover .instrument-label,
:host:hover .tools {
  opacity: 1;
}

mat-slider {
  margin-top: -8px;
}
