<h1>
  The Salsa Beat Machine
</h1>

<div class="mobile-links" *ngIf="!electron">
  <a href="https://play.google.com/store/apps/details?id=com.salsarhythm" class="android" target="_blank">
    Android
  </a>
  <a href="https://itunes.apple.com/us/app/salsa-rhythm-the-latin-dance-practice-tool/id379868541" class="ios" target="_blank">
    iOS
  </a>
</div>

<mat-spinner *ngIf="!machine"></mat-spinner>

<div *ngIf="machine" (keydown)="onKeyDown($event)" class="app-container">
  <mat-card class="controls">
    <div class="controls-top">
      <button mat-button mat-icon-button (click)="togglePlay()">
        <mat-icon *ngIf="!engine.playing" aria-label="Play">play_arrow</mat-icon>
        <mat-icon *ngIf="engine.playing" aria-label="Stop">stop</mat-icon>
      </button>
      <span>
        <mat-slider [(ngModel)]="machine.bpm" min="80" max="250" thumbLabel></mat-slider> {{machine.bpm}} BPM
      </span>
      <mat-form-field>
        <mat-select [(ngModel)]="machine.keyNote" placeholder="Key">
          <mat-option [value]="0">C</mat-option>
          <mat-option [value]="1">C#</mat-option>
          <mat-option [value]="2">D</mat-option>
          <mat-option [value]="3">D#</mat-option>
          <mat-option [value]="4">E</mat-option>
          <mat-option [value]="5">F</mat-option>
          <mat-option [value]="6">F#</mat-option>
          <mat-option [value]="7">G</mat-option>
          <mat-option [value]="8">G#</mat-option>
          <mat-option [value]="9">A</mat-option>
          <mat-option [value]="10">A#</mat-option>
          <mat-option [value]="11">B</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="merengueEnabled"><label>Merengue</label></mat-checkbox>
    </div>
    <div class="controls-indicator">
      <bm-beat-indicator [index]="beat|async" [max]="beatCount()"></bm-beat-indicator>
    </div>
  </mat-card>

  <mat-card class="instrument-list">
    <div *ngFor="let instrument of machine?.instruments">
      <bm-instrument-tile [instrument]="instrument">
      </bm-instrument-tile>
    </div>
  </mat-card>
</div>
