.homepage h1 {
  text-align: center;
  font-size: 48px;
  color: #aaa;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  margin-bottom: 12px;
}

@media(max-width: 640px) {
  .homepage h1 {
      font-size: 6vw;
  }
}

.appContainer {
  max-width: 680px;
  margin: 0 auto;
}
